<% include partials/header %>

<div class="container">
    <div class="row">
        <h1>Create a new Campground</h1>

        <form action="/campgrounds" method="POST">
            <input class="form-control" name="name" type="text" placeholder="name">
            <input class="form-control" name="image" type="text" placeholder="image url">
            <input class="form-control" name="description" type="text" placeholder="description">
            <input class="btn btn-outline-secondary" type="submit" value="Submit!">
        </form>
        
        <a href="/campgrounds">Go back</a>
    </div>
</div>


<% include partials/footer %>