<% include partials/header %>

<h1>Register route</h1>

<form action="/register" method="POST">
    <input class="form-control" name="username" type="text" placeholder="username">
    <input class="form-control" name="password" type="password" placeholder="password">
    <input class="form-control" type="submit" value="Sign Up">
</form>


<% include partials/footer %>